<nav class="navbar">

  <!-- Navbar Actions -->
  <div class="navbar-actions">
    <button *ngIf="currentRoute !== '/most-active-users'" routerLink="/most-active-users" class="btn btn-info">Most Active Users</button>
    <button *ngIf="currentRoute !== '/homepage'" routerLink="/homepage" class="btn btn-homepage">Homepage</button>

    <button *ngIf="isLoggedIn && currentRoute !== '/user'" routerLink="/user" class="btn btn-secondary">User Page</button>

    <button *ngIf="currentRoute !== '/add-question'" routerLink="/add-question" class="btn btn-add-question">Add Question</button>

    <button *ngIf="!isLoggedIn" class="btn btn-primary" (click)="login()">Login</button>
    <button *ngIf="isLoggedIn" class="btn btn-danger" (click)="logout()">Logout</button>
  </div>
</nav>
